# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
MNIST_data/t10k-images-idx3-ubyte.gz
MNIST_data/train-images-idx3-ubyte.gz
MNIST_data/t10k-labels-idx1-ubyte.gz
MNIST_data/train-labels-idx1-ubyte.gz
.ipynb_checkpoints/TF-Tutorial-checkpoint.ipynb
.ipynb_checkpoints/LSTM Forecast-checkpoint.ipynb
